* {
  /*background-color: white;*/
  font-size: 25px;
  width: auto;
  height: 100;
  /*outline-style: dashed;/*for block visual purposes*/*/
}
html {
  background-image: url(/home/aaron/codefellows/201d23/week2/day-07/Lab-07-day-07/Dollarphotoclub_57954146.jpg);
}

#salmon {
  height: 200px;
}

span {
  padding: 20px;
  border-radius: 30px;
  background-color: salmon;
  font-style: oblique;
  font-weight: bold;
  font-size: 80px;
  margin-left: 1%;
}

#chinook {
  height: 200px;
  margin-left: 3%;
}

header {
  /*background-color: salmon;*/
  border-radius: 30px;
}

th {
background-color: salmon;
}

tr {
  background-color: #78c7ff;
}

#salmonStore {
  margin-left: 20%;
  margin-top: 2%;
  outline-style: solid;
  outline-color: blue;
  background-color: transparent;
  margin-bottom: 2%;
}

fieldset {
  border-radius: 30px;
  color: blue;
  background-color: salmon;
}

#fish {
  height: 80px;
  border-radius: 20px;
}

.newStoreInput {
  outline-style: solid;
  outline-color: black;
  color:black;
}

.newStoreInput2 {
  margin-left: 10px;
  margin-right: 10%;
  outline-style: double;
}

#newStoreButton {
  float: right;
  border-radius: 10px;
  background-color: white;
}

textarea {
  background-color: salmon;
}

#cutter {
  margin-top: 30px;
  margin-right: 70px;
  border-radius: 10px;
  height: 300px;
  float: right;
  outline-style: solid;
  outline-offset: 10px;
  outline-width: thick;
  outline-color: blue;
}

#frosted-cookie {
  margin-top: 30px;
  margin-right: 70px;
  border-radius: 10px;
  height: 300px;
  float: right;
  outline-style: solid;
  outline-offset: 10px;
  outline-width: thick;
  outline-color: blue;
}

#shirt {
  margin-top: 30px;
  margin-right: 70px;
  border-radius: 10px;
  height: 300px;
  float: right;
  outline-style: solid;
  outline-offset: 10px;
  outline-width: thick;
  outline-color: blue;
}

legend {
  outline-style: double;
  border-radius: 30px;
  outline-color: black;
}

#family {
  margin-left: 20px;
  height: 400px;
  float:right;
  border-radius: 10px;
}
